/* VARIABLES */

:root {
    /* Text Styles */
    --text-main: #000;
    --text-dark: #25130e;
    --text-light: #f3e5dd;
    --main-font: "Poppins", sans-serif;
    --heading-font: "Montserrat", sans-serif;
    --h1-size: 65px;
    --h2-size: 50px;
    --h3-size: 20px;
    --h4-size: 18px;
    --standard-text-size: 18px;
    --standard-text-height: 26px;
    --small-text-size: 14px;
    --btn-size: 16px;

    /*Spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;

    /* Colors */
    --bg-white: #fff;
    --bg-grey: #c8d4e8;
    --brown: #7a3f2e;
    --orange-dark: #f48c06;
    --orange-light: #fbb861;
    --red-dark: #510a0f;
    --red-light: #e63946;
    --blue-dark: #1e90a6;
    --blue-light: #78c8d6;
    --btn-bg-dark: rgba(0, 0, 0, 0.5);

    --standard-border-radius: 10px;
    --standard-box-shadow: 0px 2px 40px rgb(0, 0, 0, 0.4);
    --card-box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.2);
}

/* GENERAL ELEMENT STYLES */

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--standard-text-size);
    color: var(--text-main);
    box-sizing: border-box;
    margin: 0;
    padding: var(--spacing-sm) 0 0;
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: var(--standard-width);
    margin: var(--spacing-lg) 0 0 0;
    padding: var(--spacing-md);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    font-weight: 600;
    margin: 0;
    width: 100%;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h2-size);
    margin: 0;
    width: 100%;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

p {
    font-size: var(--standard-text-size);
    line-height: var(--standard-text-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

fieldset {
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* LAYOUT STYLES */

.book-cards-container {
    width: 100%;
    max-width: var(--standard-width);
    padding: var(--spacing-md);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-md);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: var(--bg-white);
    padding: var(--spacing-lg) var(--spacing-md);
    border-radius: var(--standard-border-radius);
    box-sizing: border-box;
    box-shadow: var(--card-box-shadow);
}

.card h3 {
    text-align: center;
}

.card p {
    margin: 0 0 var(--spacing-md) 0;
    width: 100%;
    text-align: center;
}

.card p span {
    display: block;
}

.card p .card-author {
    font-weight: 500;
}

.card ul {
    padding: 0 var(--spacing-md) var(--spacing-lg);
}

.card button {
    align-self: center;
}

.card .card-data {
    color: var(--blue-dark);
    font-weight: 500;
}

/* BUTTON STYLES */

.primary-btn {
    font-family: var(--main-font);
    font-size: var(--btn-size);
    letter-spacing: 1.25px;
    font-weight: 600;
    border-radius: var(--standard-border-radius);
    background-color: var(--orange-dark);
    border: none;
    color: var(--text-light);
    min-width: 150px;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.25s ease;
}

.primary-btn:hover {
    background-color: var(--orange-light);
    color: var(--text-dark);
    cursor: pointer;
}

.primary-btn img {
    width: 20px;
    height: auto;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
}

.header h1 span {
    font-weight: 300;
}

.header .add-book-btn {
    background-color: var(--blue-dark);
}

.header .add-book-btn:hover {
    background-color: var(--btn-bg-dark);
    color: var(--text-light);
}

/* FORM STYLES */

.form-container {
    width: 600px;
    max-height: 90vh;
    max-width: 100%;
    position: absolute;
    top: var(--spacing-md);
    border-radius: var(--standard-border-radius);
    background-color: var(--bg-white);
    box-shadow: var(--standard-box-shadow);
    box-sizing: border-box;
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container.no-display {
    display: none;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .form .close-form-btn {
    border: none;
}

.form-container .form .close-form-btn:hover {
    cursor: pointer;
}

.form-container .form .close-form-icon {
    width: 20px;
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
}

.form-container .form-field {
    margin: 0;
    padding: 0 0 var(--spacing-lg) 0;
    width: calc(100% - (var(--spacing-lg) * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
}

.form-container .form-field .requirements {
    margin: 0 0 var(--spacing-md) 0;
    padding: var(--spacing-lg) 0 0 0;
    text-align: center;
}

.form-container .form-field .input-wrapper {
    margin: var(--spacing-md) 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
}

.form-field .input-wrapper .half-width {
    display: inline-block;
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-field .input-wrapper input,
.form-field .input-wrapper select {
    padding: var(--spacing-md) 0 var(--spacing-sm);
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--text-main);
    width: 100%;
    box-sizing: border-box;
}

.form-field .input-wrapper input {
    font-size: var(--standard-text-size);
    color: var(--text-main);
    font-family: var(--main-font);
}

.form-field .input-wrapper input:active,
.form-field .input-wrapper select:active {
    appearance: none;
    border: none;
}

.form-field .input-wrapper input:focus,
.form-field .input-wrapper select:focus {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--orange-dark);
}

#date-read {
    margin-top: -2px;
}

.form-field .input-wrapper .label-normal {
    display: block;
    position: absolute;
    transition: all 250ms ease;
}

.input-wrapper .label-normal.label-move {
    transform: translateY(-24px);
    color: var(--brown);
    font-size: 16px;
}

.form-container .form-field .fieldset {
    appearance: none;
    border: none;
    margin: var(--spacing-md) 0 0 0;
    padding: var(--spacing-md) 0;
    align-self: flex-start;
}

.form-field .fieldset input,
.form-field .fieldset label {
    cursor: pointer;
}

.form-container .primary-btn {
    margin: var(--spacing-md) 0;
}

.form-container .label-normal.alert,
.form-container .requirements.alert,
.fieldset .label.alert {
    color: var(--red-light);
}

/* CARD STYLES */

.book-cards-container .card .remove-book-btn {
    background-color: var(--red-light);
}

.book-cards-container .card .remove-book-btn:hover {
    background-color: var(--red-dark);
    color: var(--bg-white);
}