/* VARIABLES */

:root {
    /* Text Styles */
    --text-main: #000;
    --text-dark: #25130e;
    --text-light: #f3e5dd;
    --main-font: "Poppins", sans-serif;
    --heading-font: "Montserrat", sans-serif;
    --h1-size: 65px;
    --h2-size: 50px;
    --h3-size: 40px;
    --standard-text-size: 18px;
    --standard-text-height: 26px;
    --btn-size: 16px;

    /*Spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;

    /* Colors */
    --bg-white: #fff;
    --bg-grey: #adbbdc;
    --brown: #7a3f2e;
    --orange-dark: #f48c06;
    --orange-light: #fbb861;
    --blue-dark: #1e90a6;
    --btn-bg-dark: rgba(0, 0, 0, 0.5);
    --blue-light: #78c8d6;

    --standard-border-radius: 10px;
    --standard-box-shadow: 0px 2px 40px rgb(0, 0, 0, 0.4);
}

/* GENERAL ELEMENT STYLES */

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--standard-text-size);
    color: var(--text-main);
    box-sizing: border-box;
    margin: 0;
    padding: var(--spacing-sm) 0 0;
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: var(--standard-width);
    margin: var(--spacing-lg) 0 0 0;
    padding: var(--spacing-md);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    font-weight: 600;
    margin: 0;
    width: 100%;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h2-size);
    margin: 0;
    width: 100%;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

p {
    font-size: var(--standard-text-size);
    line-height: var(--standard-text-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}


/* LAYOUT STYLES */

.book-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-md);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* BUTTON STYLES */

.primary-btn {
    font-family: var(--main-font);
    font-size: var(--btn-size);
    letter-spacing: 1.25px;
    font-weight: 600;
    border-radius: var(--standard-border-radius);
    background-color: var(--orange-dark);
    border: none;
    color: var(--text-light);
    min-width: 150px;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.25s ease;
}

.primary-btn:hover {
    background-color: var(--orange-light);
    color: var(--text-dark);
    cursor: pointer;
}

.primary-btn img {
    width: 20px;
    height: auto;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
}

.header h1 span {
    font-weight: 300;
}

.header .add-book-btn {
    background-color: var(--blue-dark);
}

.header .add-book-btn:hover {
    background-color: var(--btn-bg-dark);
    color: var(--text-light);
}

/* FORM STYLES */

.form-container {
    width: 600px;
    max-height: 90vh;
    max-width: 100%;
    position: absolute;
    top: var(--spacing-md);
    border-radius: var(--standard-border-radius);
    background-color: var(--bg-white);
    box-shadow: var(--standard-box-shadow);
    box-sizing: border-box;
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container.no-display {
    display: none;
}

.form-container .form {
    margin: 0;
    width: calc(100% - (var(--spacing-lg) * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .form .input-wrapper {
    margin: var(--spacing-md) 0;
    width: 100%;
    position: relative;
}

.form .input-wrapper input,
.form .input-wrapper select {
    padding: var(--spacing-md) 0 var(--spacing-sm);
    appearance: none;
    border: none;
    border-bottom: 2px solid var(--text-main);
    width: 100%;
    box-sizing: border-box;
}

.form .input-wrapper input {
    font-size: var(--standard-text-size);
    color: var(--text-main);
    font-family: var(--main-font);
}

.form .input-wrapper input:active,
.form .input-wrapper select:active {
    appearance: none;
    border: none;
}

.form .input-wrapper input:focus,
.form .input-wrapper select:focus {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--orange-dark);
}

.form .input-wrapper .label-normal {
    display: block;
    position: absolute;
    transition: all 250ms ease;
}

.input-wrapper .label-normal.label-move {
    transform: translateY(-16px);
    color: var(--brown);
    font-size: 16px;
}

.form-container .form .fieldset {
    appearance: none;
    border: none;
    margin: var(--spacing-md) 0 0 0;
    padding: var(--spacing-md) 0;
    align-self: flex-start;
}

.form .fieldset input,
.form .fieldset label {
    cursor: pointer;
}


.form .input-wrapper .rate-label,
#rating {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
}

.form-container .primary-btn {
    margin: var(--spacing-md) 0;
}